$primary: #0e9c49;
// $dark: #0c1445;
// $dark: #141852;
// $dark: #2b1d5a;
$dark: #070B34;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 6,
) !default;


