@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.text-justify {
  text-align: justify;
}

@media (min-width: 992px) {
  .vh-lg-100 {
    height: 100vh !important; }
}

.btn-primary:hover {
  background-color: #0a6d33;
  border-color: #0a6d33;;
}

.card-img-top {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

.img-carousel {
  width: 100%;
  height: 30em;
  object-fit: contain;
}

